<!--ffff-->
<!--dddd
dddd
ddd
-->
<!-- <h1>fff</h1> -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta http-equiv="refresh" content="0; url=http://example.com">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
</head>
<body>
    
</body>
</html>
 -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="Media/Image/Logo/" type="image/x-icon">
        <link rel="apple-touch-icon" href="">

        <title>T1</title>
        <meta name="keywords" content="
        Html,
        css,
        learn html,
        ">
        <meta name="description" content="">
        <meta name="author" content="">

        <meta http-equiv="refresh" content="300;url=google.com">

        <meta name="theme-color" content="#fff555">

        <meta property="og:title" content="your_link_title">
        <meta property="og:description" content="In the early days, Twitter grew so quickly that it was almost impossible to add new features because engineers spent their time trying to keep the rocket ship from stalling." />
        <meta property="og:image" content="your_image_url">
        <meta name="twitter:site" content="@nytimesbits" />
        <meta name="twitter:creator" content="@nickbilton" />

        <!-- CSS -->
        <link rel="stylesheet" href="https://">        
    </head>

    <body>
        <header>
            <nav></nav>
        </header>
        <main>
            <aside></aside>
            <section></section>
            <article></article>
        </main>
        <footer></footer>
        <div></div>
        <span></span>

        <ul>
            <li></li>
            <li></li>
        </ul>
        <ol type="1" start="10">
            <li></li>
            <li></li>
        </ol>
        <dl>
            <dt></dt>
            <dd></dd>
            <dd></dd>
        </dl>
        <table border="3">
            <tr>
                <th colspan="3" rowspan="2"></th>
                <td></td>
                <td></td>
            </tr>
            <tr></tr>
            <thead></thead>
            <tbody></tbody>
            <tfoot></tfoot>
        </table>
        <fieldset>
            <legend></legend>
            
        </fieldset>
        <br>
        <hr>

        <h1 contenteditable="true">ff</h1>
        <p>ddd &nbsp;ddd<br></p>
        <pre>ddd  --dddd</pre>
        <button>dd</button>
        <code id="" class="c1 c2 c3" title="sss" style="color: red;background-color: blue;"></code>
        <sup></sup>
        <sub></sub>
        <i></i>
        <b></b>
        <mark></mark>
        <ins></ins>
        <del></del>
        <small></small>
        <big></big>
        <center></center>
        <label for=""></label>

        ✦
        🍓

        <embed src="" type="">
        
        <img src="Media/Image/" alt="img1">

        <audio src="" controls preload="none" loop muted></audio>

        <video src="" poster="" preload="none"></video>

        <iframe src="" sandbox="allow-same-origin allow-scripts" allowfullscreen width="" height="" frameborder="0"></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Ym0rQoyi7A8?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d419.0207041579139!2d31.84371288277725!3d31.52756279439997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sar!2seg!4v1680873131097!5m2!1sar!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <meter min="" max="" value="" low="" high="" optimum="">GG</meter>

        <marquee behavior="slide" direction="left" scrollamount="11">

        </marquee>

        <details>
            <summary></summary>

        </details>

        <dialog open>

        </dialog>

        <a href="mailto:" target="_blank">ffff</a>
        
        <a href="" download=""></a>

        <textarea onclick="ooo()" cols="50" rows="5" placeholder="ddd" maxlength="35">fghhj</textarea>
        <input type="text" value="" placeholder="" maxlength="">

        <input type="range" min="" max="" value="">

        <input type="radio" name="r" value="" checked>
        <select size="3" multiple>
            <option value="">select</option>
            <option value="2" selected>2</option>
            <option value="3">3</option>
        </select>

        <input type="file" accept="text/*,jpg,png,mp4,mp3" disabled>

        <form name="" method="post" action="#">

            <input type="text" name="" minlength="3" required oninvalid="this.setCustomValidity('')">

            <input type="hidden" name="" value="" checked>

            <button type="reset"></button>
            <button type="submit"></button>
        </form>

        <div class="a4">
            <div class="a4_1"></div>
            <div class="a4_2"></div>
            <div class="a4_3"></div>
            <div class="a4_4"></div>
            <div class="a4_5"></div>
        </div>

        <iframe id="map1" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=0&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=6/26.804/33.003">عرض خريطة بحجم أكبر</a></small>

        <div id="vueapp">
            <comp-1 name="aa1"/>
            <comp-1 :name="name" @em-e1="em_e1"/>
            <comp-1>
                <template slot:s1>
                    <p>ddddd</p>
                </template>

                <template slot:s2>

                </template>
            </comp-1>

            <router-view/>

            <comp-1 name=""/>

            <h1
                :id="name + age2"
                :class="{asd:isasd i.id}"
                class=""
                :style="{color:color;}"
                :show="true"
                @click.prevent="m1()"
                v-for="i in iii"
            >{{age}}{{age?1:0}}{{i.data}}</h1>

            <com-1 v-for="i in iii" :key="i.id" :name="i.data"/>

            <input type="text" v-model="value">
        </div>

        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="row" style="color: red !important;">
            <div class="col"></div>
            <div class="col-sm-3"></div>
        </div>



        <!-- inline -->
        <style></style>
        <script></script>

        <!-- BootStrap -->
        <link rel="stylesheet" href="Code/BootStrap/b.css">
        <link rel="stylesheet" href="Code/BootStrap/b.js">

        <!-- Fonts -->
        <link rel="stylesheet" href="Code/CSS/Fonts/fonts.css">

        <!-- CSS -->
        <link rel="stylesheet" href="Code/CSS/index/index1.css">

        <!-- JS -->
        <script type="module" src="Code/JS/index/index.js"></script>

        <!-- Vue -->
        <script src="Code/JS/Vue/vue.js"></script>
        <script src="Code/JS/Vue/vueapp.js"></script>
        <script src="Code/JS/Vue/router.js"></script>

        <noscript>
            
        </noscript>
    </body>
</html>
